@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    color: white;
}
body {
    background: rgb(146, 121, 246);
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.container {
    border: white solid 5px;
    background-image: url("background.jpeg");
    width: 701px;
    height: 438px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 10px;
    border: ridge 5px;
}
.row {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
.col {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container > .row {
    justify-content: space-between;
    width: 100%;
}
.score-circle {
    height: 20px;
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    border: black solid;
    display: inline-block;
}
.name {
    font-weight: bold;
}
.team {
    border: 2.5px solid white;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.team-name {
    background-color: rgb(146, 121, 246);
    padding: 10px;
    text-align: center;
}
#shoot-button {
    width: 150px;
    padding: 10px;
    background: crimson;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 50px;
    font-size: x-large;
}
#shoot-button:hover {
    box-shadow: 0 0 10px 0 deeppink;
}
#result {
    margin-top: 50px;
    background: rgb(231, 38, 126);
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    background-clip: text;   
    width: 300px;
    align-self: center; 
    border: none;
    border-radius: 10px;
}
